.parties{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider{
    width: 100%;
    position: relative;
    height: 340px;

}
.item {
    position: absolute;
    width: 300px;
    height: 340px;
    text-align: justify;
    background-color: rgb(24, 24, 24);
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    padding: 30px;
    transition: 0.5s;
    left: calc(50% - 150px);
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    flex-direction: column;
}


.item__logo{
    margin-top: 20px;
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    width: 80%;
    height: auto;
}

.item h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.item__players {
    position: absolute;
    right: -100%; /* Hide it initially */
    bottom: -25px;
    transform: translateY(-50%);
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--pseudo-bg-color, rgba(119, 0, 0, 0.8));
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
}

.item__players img {
    width: 30px;
    height: 30px;
}

.item:hover .item__players {
    right: 0px; /* Slide in when hovering */
}
.item:hover{
    background-color: rgb(28, 28, 28);
}
.item:hover {
    cursor: pointer;
}
.hidden-modal {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  .hidden-back {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    color: white;
    position: absolute;
    top: 0px;
    left: -30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* Slight background for visibility */
    padding: 10px;
    padding-right: 40px;
    padding-left: 100px;
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    height: 50px;

  }
  
  .visible-back {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    color: white;
    position: absolute;
    top: 0px;
    left: -30px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* Slight background for visibility */
    padding: 10px;
    padding-right: 70px;
    padding-left: 100px;
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    height: 50px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
  }
  
  .item-details {
    display: none;
    opacity: 0;
    transition: 0.5s;
    margin-top: 40px;
    box-sizing: border-box;
    word-wrap: break-word; /* Ensures long words break to the next line */
    font-family: "Jura", serif;
    font-size: 1rem;
    scrollbar-color: white;

  }
  .visible-details {
    display: block;
    opacity: 1;

  }
#next{
    position: absolute;
    right: 200px;
    top: 40%;
}
#prev{
    position: absolute;
    left: 200px;
    top: 40%;
}
#prev, #next{
    color: #fff;
    background: none;
    border: none;
    font-size: 3rem;
    font-weight: 50;
    opacity: 0.5;
    transition: 0.5s;
}
#prev:hover,
#next:hover{
    opacity: 1;
}
.item-details a{
    font-style: italic;
    color: rgb(0, 146, 190);
    text-decoration: none;
}
.italic__font{
    font-style: italic;

}
.bold__font{
    font-weight: 1000;
}