section {
    padding: 5rem 1rem;
    text-align: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


.text-container {
    background: rgba(0, 0, 0, 0);
    background-attachment: fixed;
    text-align: center;
}

.text-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.05px red;
    position: relative;
    text-align: center;
    user-select: none;
    font-family: "Audiowide", serif;
    transition: transform 1s ease;
    padding: 50px;
}

.container {

    background-attachment: fixed;
    text-align: center;
    padding-bottom: 50px;
}
.modal {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(30, 30, 30, 0.95);
    padding: 40px;
    transition: 1.5s ease;
    height: 73vh;
    overflow-y: auto;
    background-color: rgb(14, 14, 14);
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    visibility: hidden;
    opacity: 0;
    scrollbar-width: 5px;
}

.modal.show {
    bottom: 5%;
    opacity: 1;
    visibility: visible;
}

.modal.hide {
    bottom: -200%;
    opacity: 1;
    visibility: hidden;
}

.modal-content {
    font-family: "Jura", serif;
    opacity: 1;
    transition: opacity 0.5s ease;
    padding: 20px;
}
.modal-content__title{
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
    white-space: nowrap; /* Prevents text from wrapping */
}